In [1]:
import pandas as pd
import os

In [11]:

players = pd.read_csv('data/atp_players.csv')

/var/folders/s3/s4gmfm1j23xg8_5fnbsqlflm0000gp/T/ipykernel_25974/4042784093.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv('data/atp_players.csv')

In [9]:
players

,player_id,name_first,name_last,hand,dob,ioc,height,wikidata_id
0,100001,Gardnar,Mulloy,R,19131122.0,USA,185.0,Q54544
1,100002,Pancho,Segura,R,19210620.0,ECU,168.0,Q54581
2,100003,Frank,Sedgman,R,19271002.0,AUS,180.0,Q962049
3,100004,Giuseppe,Merlo,R,19271011.0,ITA,NaN,Q1258752
4,100005,Richard,Gonzalez,R,19280509.0,USA,188.0,Q53554
...,...,...,...,...,...,...,...,...
65984,213700,Matvei,Kobiakov,U,NaN,RUS,NaN,NaN
65985,213701,Tobia Costanzo,Baragiola Mordini,U,NaN,ITA,NaN,NaN
65986,213702,Dominik,Wijntjes,U,NaN,NZL,NaN,NaN
65987,213703,Sam,Wensley,U,NaN,AUS,NaN,NaN
65988,213704,Harry,Roberts,U,NaN,AUS,NaN,NaN

In [21]:
matches = pd.read_csv('data/atp_matches/atp_matches_2019.csv')
matches

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2019-M020,Brisbane,Hard,32,A,20181231,300,105453,2.0,NaN,...,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0
1,2019-M020,Brisbane,Hard,32,A,20181231,299,106421,4.0,NaN,...,52.0,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0
2,2019-M020,Brisbane,Hard,32,A,20181231,298,105453,2.0,NaN,...,27.0,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0
3,2019-M020,Brisbane,Hard,32,A,20181231,297,104542,NaN,PR,...,60.0,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0
4,2019-M020,Brisbane,Hard,32,A,20181231,296,106421,4.0,NaN,...,56.0,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,2019-9210,Laver Cup,Hard,8,A,20190920,105,104545,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,1805.0,6.0,4095.0
2802,2019-9210,Laver Cup,Hard,8,A,20190920,106,126774,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,3420.0,30.0,1385.0
2803,2019-9210,Laver Cup,Hard,8,A,20190920,107,104745,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,9225.0,24.0,1450.0
2804,2019-9210,Laver Cup,Hard,8,A,20190920,108,106233,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,4575.0,33.0,1310.0
2805,2019-9210,Laver Cup,Hard,8,A,20190920,109,106058,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,210.0,235.0,11.0,2475.0

In [26]:
matchesfeatures = pd.read_csv('data/atp_matches_fUtures/atp_matches_futures_2019.csv')
matchesfeatures['round'].value_counts()

round
R32    8576
R16    4287
QF     2140
SF     1069
F       526
Name: count, dtype: int64

In [28]:
matchesfeatures['winner_rank_points'][880]

np.float64(34.0)